/* ion-item.input .show-focused {
  visibility: hidden;
}

ion-item.input.item-has-focus .show-focused,
ion-item.input.item-has-value .show-focused {
  visibility: visible;
} */

/* .form-row {
  margin-top: 8px;
  margin-bottom: 8px;
} */
